<a href="https://colab.research.google.com/github/ngrshx/Filter_negative_positive_numbs/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 3
b = 5
print(a+b)

8

In [2]:
list1 = [1, 2, 3, 4]

list1.reverse()
print(list1)

[4, 3, 2, 1]

In [10]:
list2 = [4,1,9,3]

max_num = list2[0]
min_num = list2[0]
for i in list2:
  if i > max_num:
    max_num = i
    print(f'{max_num} is a max number')
  if i < min_num:
    min_num = i
    print(f'{min_num} is a min number')

1is a min number
9 is a max number

In [13]:
list3 = [1,2,3,3,4,5,6,7,8,8,9,10]
list4 = []

for i in list3:
  if i not in list4:
    list4.append(i)

print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list5 = [10,9,4,3]

print(sum(list5))

26

In [18]:
list6 = []
if not list6:
  print("True")
else:
  print("False")

True

In [26]:
list7 = [3,4,5,6,7,8,9]

first = second = float('-inf')

for i in list7:
  if i > first:
    second = first
    first = i
  elif first > i >second:
    second = i

print(f'{second} is the second largest number')

8 is the second largest number

In [ ]:
list7 = [3, 4, 5, 6, 7, 8, 9]

first = max(list7)
list7.remove(first)
second = max(list7)

print(f'Second largest: {second}')

In [37]:

list8 = [1,2,3,4,4,5]

dublicate_numbers = []
not_dublicate = []

for i in list8:
  if i in not_dublicate and i not in dublicate_numbers:
    dublicate_numbers.append(i)
  else:
    not_dublicate.append(i)

print(dublicate_numbers)

[4]

In [41]:

list10 = [2,3,4,5,6,7,8,9]

for i in list10:
  if i % 2 != 0:
    list10.remove(i)


print(list10)

[2, 4, 6, 8]

In [43]:
list11 = [2,3,4,5]
list12 = [4,5,6,7]

print(list(set(list11).intersection(list(set(list12)))))

[4, 5]

In [44]:
my_dict1 = {"name": "Nigar", "e-mail":"nigar.shikhalizada@gmail.com", "number": "+971556129801"}

for key, value in my_dict1.items():
  print(key, value)

name Nigar
e-mail nigar.shikhalizada@gmail.com
number +971556129801

In [49]:
my_dict1 = {"name": "Nigar", "e-mail":"nigar.shikhalizada@gmail.com", "number": "+971556129801"}

my_dict1.update({"name": "Emin"})

for key, value in my_dict1.items():
  print(key, value)

name Emin
e-mail nigar.shikhalizada@gmail.com
number +971556129801

In [50]:
my_dict1 = {"name": "Nigar", "e-mail":"nigar.shikhalizada@gmail.com", "number": "+971556129801"}

my_dict1["city"] = "Dubai"

for key, value in my_dict1.items():
  print(key, value)

name Nigar
e-mail nigar.shikhalizada@gmail.com
number +971556129801
city Dubai